<VirtualHost *:80>
	DocumentRoot {{ www_root }}
	Redirect permanent / https://localhost/
</VirtualHost>

<IfModule ssl_module>
	SSLUseStapling on 
	SSLStaplingCache "shmcb:logs/stapling-cache(150000)" 

	<VirtualHost *:443>
		SSLEngine on
	
		SSLCertificateFile {{ cert_file }}
		SSLCertificateKeyFile {{ key_file }}
		SSLCACertificatePath /etc/ssl/certs/
		
		SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
		SSLProtocol All -SSLv2 -SSLv3
		SSLHonorCipherOrder On
		SSLCompression off 
			
		Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		Header always set X-Frame-Options DENY
		Header always set X-Content-Type-Options nosniff	
		
		ServerAdmin webmaster@localhost
		DocumentRoot {{ www_root }}

		SSLVerifyClient optional_no_ca
		SSLVerifyDepth  10

		SSLOptions +ExportCertData +StdEnvVars

		ErrorLog ${APACHE_LOG_DIR}/error.log
		CustomLog ${APACHE_LOG_DIR}/access.log combined

		# S/MIME authentication requirement
		<Location "/">
			SSLVerifyClient require 
			SSLVerifyDepth 10
			SSLRequire ( %{SSL_CIPHER} !~ m/^(EXP|NULL)-/ ) 
		</Location>

	</VirtualHost>
</IfModule>
